*{
   margin: 0;
   padding: 0;
}
body{
   margin: 0 auto;
}

.container{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.count-item{
   background-color: darkcyan;
   padding: 6px;
   display: flex;
   flex-direction: column;
   margin: 5px;
}